/* Define styles for all images */
img { 
    width: 200px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}

/* Style images within #banner-box */
#banner-box img {
    width: 800px; /* Set the desired width for images within #banner-box */
}

/* Style images within .product */
.product img {
    width: 250px; /* Set the desired width for images within .product */
}
